{% extends './base.html' %}
<html lang="en">

{% block title %}
	{{post.title}}
{% endblock %}

{% block content %}
<!--        &lt;!&ndash;================Home Banner Area =================&ndash;&gt;-->
<!--        <section class="banner_area">-->
<!--        	<div class="container">-->
<!--				<div class="row banner_inner">-->
<!--					<div class="col-lg-5"></div>-->
<!--					<div class="col-lg-7">-->
<!--						<div class="banner_content text-center">-->
<!--                            <img class="img-fluid" src="{{ post.image.url }}" alt="">-->
<!--							<h2>{{ post.title }}</h2>-->
<!--							<div class="page_link">-->
<!--								<a href="index.html">Home</a>-->
<!--								<a href="post_detail.html">Post Details</a>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--        	</div>-->
<!--        </section>-->
<!--        &lt;!&ndash;================End Home Banner Area =================&ndash;&gt;-->
        
        <!--================Blog Area =================-->
        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
       					<div class="main_blog_details">
       						<a href="#"><h4>{{ post.title }}</h4></a>
       						<div class="user_details">
       							<div class="float-left">
       								{% for tag in post.tag.all %}
                                        <a href="{% url 'tag' tag.slug %}" class="mr-1 badge ">#{{ tag }}</a>
                                    {% endfor %}
       							</div>
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5> {{post.author}} </h5>
       										<p> {{post.created_at}} </p>
       									</div>
       									<div class="d-flex">
       									</div>
       								</div>
       							</div>
       						</div>
                            <img class="img-fluid" src="{{ post.image.url }}" alt="">
							<blockquote class="blockquote">
								<p class="mb-0"> {{post.description|safe}} </p>
							</blockquote>
                            <p> {{post.content|safe}} </p>
      						<div class="news_d_footer">
<!--      							<a href="#"><i class="lnr lnr lnr-heart"></i>Lily and 4 people like this</a>-->
      							<a class="justify-content-center ml-auto" href="#comment-area"><i class="lnr lnr lnr-bubble"></i> {{ post.comments.count }} Comments</a>
<!--      							<div class="news_socail ml-auto">-->
<!--									<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--									<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--									<a href="#"><i class="fa fa-youtube-play"></i></a>-->
<!--									<a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--									<a href="#"><i class="fa fa-rss"></i></a>-->
<!--								</div>-->
      						</div>
       					</div>
       					<div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    {% if prev_post %}
                                        <div class="thumb">
                                            <a href="{% url 'post_detail' prev_post.url %}"> <img class="img-fluid" src="{{ prev_post.image.url }}" alt=""></a>
                                        </div>
                                        <div class="arrow">
                                            <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                        </div>
                                        <div class="detials">
                                                <p>Предыдущий пост</p>
                                                <a href="{% url 'post_detail' prev_post.url %}"><h4>{{prev_post.title}}</h4></a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    {% if next_post %}
                                        <div class="detials">
                                                <p>Следующий пост</p>
                                                <a href="{% url 'post_detail' next_post.url %}"><h4>{{next_post.title}}</h4></a>
                                        </div>
                                        <div class="arrow">
                                            <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                        </div>
                                        <div class="thumb">
                                            <a href="{% url 'post_detail' next_post.url %}"> <img class="img-fluid" src="{{ next_post.image.url }}" alt=""></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% include './block/comments.html' %}
        			</div>
                    {% include './block/aside.html' %}
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
{% endblock %}